In [5]:
num = 123
str_num = str(num)
print(str_num, type(str_num))

123 <class 'str'>

In [6]:
float_num = 19.99
int_num = int(float_num)
print(int_num)

19

In [7]:
str_value = "500"
num_value = int(str_value)
result = num_value/2
print(result)

250.0

In [ ]:
a, b = 8, 12
print(a < b)
print(a == b)

In [8]:
x, y, z = 5, 10, 15
condition = (x < y) and (y < z)
print(condition)

True

In [ ]:
print(25 // 4)

print(25 % 4)
print(25 / 4)

6
1
6.25

In [10]:
result = 3 ** 4
print("7) 3^4 =", result)

7) 3^4 = 81

In [ ]:
qiymet = 75.5
int_qiymet = int(qiymet)
print(int_qiymet ,type(int_qiymet))

In [ ]:
n = 20
condition1 = (n > 10) or (n < 5)
condition2 = (n > 15) and (n < 25)
print(condition1)
print(condition2)

9) (n > 10) or (n < 5): True
   (n > 15) and (n < 25): True

In [13]:
str_value = "42.8"
float_value = float(str_value)
print(float_value,type(float_value))
int_value = int(float_value)
print(int_value, type(int_value))

42.8 <class 'float'>
42 <class 'int'>